---
import { NavMenu } from "./navMenu.tsx";
---

<header class="grid grid-cols-2 w-full py-2 px-10 items-center bg-slate-100/5 backdrop-blur fixed z-49 top-0">
	<div class="inline-flex items-center gap-2">
		<img src="/favicon.png" width="50" height="50" alt="evex logo" />
	</div>
	<div class="inline-flex items-center gap-2">
		<NavMenu client:load />
	</div>
</header>
